%flexrow {
  display: flex;
  flex-direction: row;
}
%flexrowcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
%flexcolumncenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$background: rgb(7, 7, 8);
$primaryText: rgb(0, 153, 255);

body {
  font-family: 'Gugi', cursive;
  @extend %flexrowcenter;
  background-color: $background;
  margin-top: 100px;
  margin-bottom: 100px;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  @extend %flexcolumncenter;
  width: 70vw;
  min-width: 1600px;
  margin: auto;
}

.header {
  color: white;
  font-weight: 800;
  font-size: 5rem;
  margin: 0 auto 50px auto;
}

ul {
  width: 100%;
  @extend %flexrow;
  flex-wrap: wrap;
  padding: 0;

  .card-container {
    width: calc( 100% / 3 - 20px);
    height: 600px;
    margin: 0 10px 10px 10px;

    .image-container {
      background-color: $background;

      .image-box {
        position: relative;
        width: 100%;
        height: 470px;
        background-size: 100% 470px;
        transition: background-size 1s;
        &:hover {
          background-size: 110% 520px;
        }

        .user-detail {
          @extend %flexcolumncenter;
          position: absolute;
          left: 0;
          bottom: 0px;
          margin-bottom: -55px;
          height: auto;
          width: 90%;
          background-color: rgb(34, 34, 39);
          z-index: 1000;
          border-radius: 2px;
          opacity: 0;
          transition: opacity 100ms;
          
          .user-top {
            @extend %flexrowcenter;
            height: auto;
            width: 100%;
            padding: 20px 0 10px 0;

            .user-image {
              box-shadow: 1px 1px 25px 1px white;
              width: 80px;
              height: 80px;
              margin: 20px 20px 20px 0;
              border-radius: 50%;
              background-size: 100% 100%;
            }
            .user-bio {
              width: 70%;
              height: 100%;
              text-align: left;
              padding: 10px 0 10px 10px;

              h4 {
                color: $primaryText;
                font-weight: 600;
              }
              p {
                color: rgb(184, 184, 184);
                font-family: sans-serif;
                font-weight: 800;
              }
            }
          }
          .user-bottom {
            @extend %flexrowcenter;
            align-items: center;
            width: 100%;
            height: 50px;
            background-color: rgb(27, 27, 31);

            div {
              text-align: center;
              width: 49%;
              color: white;
              font-weight: 800;
            }
          }
        }

        .project-data-container {
          @extend %flexrowcenter;
          align-items: center;
          justify-content: space-evenly;
          position: absolute;
          bottom: 10px;
          right: 0;
          height: 12%;
          width: 55%;
          background-color: rgb(27, 27, 27);
          color: rgb(109, 108, 108);
          font-size: 1.2em;
          
          i {

            span {
              white-space: pre;
              font-size: 1em;
              font-family: 'ZCOOL KuaiLe', cursive;
              font-weight: 600;
            }
          }
        }
      }      
    }
  
  
    .card-title-container {
      margin: 15px 0 15px 0;

      .title {
        max-width: 100%;
        font-size: 2.5rem;
        font-weight: 300;
        color: $primaryText;
        overflow-x: scroll;
        white-space: nowrap;
      }
    
      .owner {
        @extend %flexrow;
        width: 100%;
        align-items: center;

        .owner-image {
          $size: 40px;
          width: $size;
          height: $size;
          border-radius: $size / 2;
          margin-right: 10px;
          background-size: 40px 40px;

          &:hover {
            cursor: pointer;
          }
        }
      
        .owner-name {
          font-size: 1.3rem;
          color: rgb(131, 131, 131);

          &:hover {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  
  
  }

}

.nav-container {
  @extend %flexrowcenter;
  width: 100%;
  a {
    @extend %flexrowcenter;
    width: 100%;
    align-items: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(53, 53, 53)), to(#000));
    padding: 5px 0 5px 0;
    margin: 0 10px 0 10px;
    span {
      font-size: 2.5rem;
      font-weight: 500;
      margin: 0 10px 0 10px;
    }
    i {
      font-size: 3em;
    }
    &:hover {
      color: $primaryText;
      background: -webkit-gradient(linear, left top, left bottom, from(rgb(41, 41, 41)), to(rgb(0, 0, 0)));
    }
    &:active {
      background: -webkit-gradient(linear, right bottom, right top, from(rgb(41, 41, 41)), to(rgb(0, 0, 0)));
    }
  }
}

