%flexrow {
  display: flex;
  flex-direction: row;
}

$background: rgb(0, 0, 15);

body {
  background-color: $background;
  margin-top: 100px;
}

.main-container {
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.projects-container {
  width: 100%;
  @extend %flexrow;
  flex-wrap: wrap;
}

.card-container {
  width: calc( 100% / 3 - 20px);
  height: 600px;
  margin: 0 10px 10px 10px;
}

.image-container {
  background-color: $background;
}

.image-box {
  box-shadow: 1px 1px 10px 1px rgb(145, 145, 145);
}

.project-image {
  width: 100%;
  height: 470px;
}

.card-title-container {
  margin: 15px 0 15px 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  color: rgb(0, 153, 255);
}

.owner {
  @extend %flexrow;
  width: 100%;
  align-items: center;
}

.user-image {
  $size: 40px;
  width: $size;
  height: $size;
  border-radius: $size / 2;
  margin-right: 10px;
}

.user-name {
  font-size: 1.3rem;
  color: rgb(131, 131, 131);
}

