<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SupplyFrame Challenge</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="main-container">
    <ul class="projects-container">
      <% projects.forEach( (project) => { %>
      <%- include('projects/project', {project: project} ) %>
      <% }) %>
    </ul>
  </div>
</body>
</html>