.content, .content .title-container .recommendation .suggestion {
  display: flex;
  flex-direction: row;
}

.content .user-container, .content .title-container, .content .title-container .recommendation .suggestion .suggested-project {
  display: flex;
  flex-direction: column;
}

.content .title-container .stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-container, .content .user-container .profile-image, .content .title-container .recommendation .suggestion .suggested-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content .user-container .profile-image img, .content .user-container .profile-image .username, .content .title-container .stats i, .content .title-container .project-name, .content .title-container .description, .content .title-container .recommendation {
  opacity: 0;
  transition: opacity 1s;
}

.content .title-container .project-name, .content .title-container .description, .content .title-container .recommendation h3 {
  text-shadow: 0px 3px 0px #707070, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.content .user-container .profile-image .username, .content .title-container .recommendation .suggestion .suggested-user h4, .content .title-container .recommendation .suggestion .suggested-project h4 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Gugi', cursive;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #070708;
}

.background {
  width: 100%;
  height: 50%;
  background-size: 100% 110%;
}

.content {
  width: 100%;
  height: 60%;
  background-color: rgba(12, 11, 22, 0.85);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  box-shadow: 0px -1px 10px 1px #f1f1f1;
}

.content .user-container {
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
}

.content .user-container .profile-image {
  height: 28%;
  width: 100%;
}

.content .user-container .profile-image img {
  margin: auto auto 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px 0px black;
}

.content .user-container .profile-image .username {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
}

.content .title-container {
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  z-index: 1;
}

.content .title-container .stats {
  align-items: center;
  justify-content: space-evenly;
  height: 12%;
  width: 100%;
  color: white;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}

.content .title-container .stats i {
  text-align: center;
  width: 25%;
  color: #0099ff;
}

.content .title-container .stats i span {
  color: white;
  white-space: pre;
  font-size: 1em;
  font-family: 'ZCOOL KuaiLe', cursive;
  letter-spacing: 4px;
  font-weight: 600;
}

.content .title-container .project-name {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 4em;
  color: #0099ff;
  z-index: 1;
}

.content .title-container .project-name .summary {
  text-align: center;
  width: 100%;
  font-size: 0.5em;
  color: white;
  margin: auto;
  z-index: 1;
}

.content .title-container .description {
  padding-right: 30px;
  margin: 20px 0 20px 0;
  text-align: left;
  font-size: 2em;
  color: white;
  font-weight: 400;
  max-height: 40%;
  overflow: scroll;
}

.content .title-container .description span {
  color: #0099ff;
  font-size: 1.2em;
}

.content .title-container .recommendation {
  width: 100%;
  height: 50%;
  align-self: flex-end;
}

.content .title-container .recommendation h3 {
  color: #0099ff;
}

.content .title-container .recommendation .suggestion {
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
  padding: 0;
  width: 100%;
}

.content .title-container .recommendation .suggestion .suggested-user {
  height: 90%;
  margin: 10px 0 10px 0;
  width: 20%;
}

.content .title-container .recommendation .suggestion .suggested-user img {
  margin: auto auto 20px auto;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  box-shadow: 2px 2px 5px 0px black;
}

.content .title-container .recommendation .suggestion .suggested-user h4 {
  text-align: center;
  color: white;
}

.content .title-container .recommendation .suggestion .suggested-project {
  align-items: center;
  justify-content: flex-start;
  height: 90%;
  margin: 10px 0 10px 0;
  width: 20%;
}

.content .title-container .recommendation .suggestion .suggested-project img {
  margin: auto auto 20px auto;
  width: 180px;
  height: 140px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px black;
}

.content .title-container .recommendation .suggestion .suggested-project h4 {
  text-align: center;
  color: white;
  height: auto;
}
